# Configurações do Banco de Dados
DB_HOST=127.0.0.1
DB_NAME=u219240592_damas
DB_USER=u219240592_damas
DB_PASS=@123321Aa@2025

# Credenciais do Painel de Controle (Admin)
ADMIN_USER=juliana
ADMIN_PASS=damas 2026

# Mercado Livre API (Credenciais da sua conta Developer)
ML_CLIENT_ID=8304432912396900
ML_CLIENT_SECRET=BNSEzl4zbEHpAQNBhgCo36kolyNZVQy5

# App Settings
APP_ENV=production
WHATSAPP_GLOBAL=5511999999999
